.about {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 40px;
  }

  &__img-wrap {
    display: flex;
    column-gap: 40px;

    @include tablet1024 {
      flex-direction: column; 
      align-items: center;
      gap: 40px;
    }
  }

  &__column {    
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 660px;
    max-height: 1060px;
    overflow: hidden;
    border-radius: 20px;

    @include tablet800 {
      width: 100%;
    }      

    @include tablet760 {

    }
  }

  &__item {
    overflow: hidden;
    border-radius: 20px;
    background-size: 110%;      
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;    

    &:hover {
      background-size: 100%;
      transition: background-size 0.5s ease-in-out;
    }    
    
    @include tablet800 {
      background-size: 105%;

      &:hover {
        background-size: 100%;
      }    

      @include tablet760 {
        // background-size: cover;
        background-size: 120%;
      }
      @include mobile580 {
        background-size: 150%;

        &:hover {
          background-size: 140%;
        }    
      }
      @include mobile420 {
        background-size: 209%;

        &:hover {
          background-size: 199%;
        }    
      }

    }          

    &_1 {
      background-image: url(../public/img/about-1.jpg);
      background-position: center;
      height: 43vw;

      @include tablet1024 {
        height: 590px;  
      }      
    }

    &_2 {
      background-image: url(../public/img/about-2.jpg);
      background-position:  45%;
      height: 31vw;

      @include tablet1024 {
        display: none;
      }
    }

    &_3 {
      background-image: url(../public/img/about-3.jpg);
      background-position:  45%;
      height: 31vw;      

      @include tablet1024 {
        display: none;
      }
    }

    &_4 {
      background-image: url(../public/img/about-4.jpg);
      background-position: center;              
      height: 43vw;      

      @include tablet1024 {
        height: 590px;  
      }      
    }
  }

  &__img {
    border-radius: 20px;
    object-fit: contain;  

    &_1, 
    &_4 {
      transform: scale(1.1);
      transform: scale(1.1) translateY(-30px);
      transition: transform 0.3s ease-in-out;

      &:hover {      
        transform: scale(1) translateY(-30px);
        transition: transform 0.3s ease-in-out;
      }
    }
    &_2,
    &_3 {
      transform: scale(1.1) translateY(-105px);
      // transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
      
    &:hover {      
      transform: scale(1) translateY(-105px);
      transition: transform 0.3s ease-in-out;
    }
    }

  }

}

