.enjoy {
  padding-top: 21px;
  margin-bottom: 100px;

  &__container {
    background-image: url("/img/img-hero.jpg");
    // background-image: url("../public/img/img-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
  }

  &__content {
    padding: 100px;
    width: 750px;
  }

  &__title {
    font-size: 72px;
    font-weight: 600;
    color: $text-light;
    line-height: 75px;
    margin-bottom: 42px;
  }

  &__color {
    font-style: italic;
    color: $text-accent;
  }

  &__text {
    color: $text-light;
    margin-bottom: 42px;
    line-height: 24px;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 200px;
    height: 64px;
    font-weight: 600;
    background-color: $back-body;
    border-radius: 100px;    

    &:after {
      position: absolute;
      content: '';
      display: block;
      right: 27%;
      width: 20px;
      height: 20px;      
      background-image: url("../public/img/coffee-cup.svg");
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover:after {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }
}
