.favourite {
  margin-bottom: 100px;
  
  &__title {
    text-align: center;

  }

  &__wrap {
    position: relative;
  }

  &__list {
    display: flex;
    max-width: 480px;
    margin: 0 auto;
    overflow: hidden;
  }

  &__item {
    width: 100%;
    flex-shrink: 0;
  }

  &__bar {
    display: flex;
    gap: 12px;
    justify-content: center;
  }

  &__position {
    width: 40px;
    height: 4px;
    background-color: $border-light;

    &_active {
      background-color: $border-dark
    }
  }

  &__button {
    position: absolute;
    top: 51%;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid $border-dark;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      background-color: $back-container;
      color: $text-light;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    &_left {
    }

    &_right {
      right: 0;
    }
  }
}

