.footer {
  margin-bottom: 40px;
  width: 100%;
  color: $text-light;

  &__container {
    display: flex;
    background-color: $back-container;
    border-radius: 40px;
    gap: 50px;
    padding: 100px;
    padding-top: 97px;    
    
    @include desktop1400 {
      padding-left: 60px;
      padding-right: 60px;      
    }

    @include tablet1024 {
      flex-direction: column;     
      gap: 100px; 
    }

    @include tablet720 {
      padding: 60px 16px;      
      gap: 40px;
    }
  }

  &__title-social {
    flex-basis: 50%;

    @include desktop1400 {
      width: 90%;
    }
    @include mobile580 {
      width: 100%;
    }
  }

  &__title {
  }

  &__social-list {
    display: flex;    
    gap: 12px;
  }

  &__social-item {
    
  }

  &__social-link {
    border: 1px solid $border-light;
    border-radius: 50%;  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;        
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      background-color: $back-body;
      border-color: $back-body;
      color: $text-dark;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
  }


  &__contacts {
    // flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet1024 {      
      // border: 1px solid red;
    }
  }

  &__contacts-title {
    font-size: 24px;
    margin-bottom: 35px;
  }

  &__contacts-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__contacts-link {
    display: flex;
    width: max-content;
    gap: 8px;
    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;      
    }
    &_pin {
      position: relative;
      &::before{ 
        background-image: url("/img/pin-alt.svg");
      }
    }
    
    &_phone {
      position: relative;

      &::before{ 
        background-image: url("/img/phone.svg");
      }
    }

    &_pin:after,
    &_phone:after {
      position: absolute;
      bottom: -4px;
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: $text-light;        
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }

    &_pin:hover:after,
    &_phone:hover:after {
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
    }

    &_clock::before{ 
      background-image: url("/img/clock.svg");
    }
  }

}

.social {

  &__link {
  
  }
}
