.header {  
  padding-top: 19px;

  &__container {
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
  }

  &__logo {
  }

  &__nav {
  }

  &__burger {
    display: none;
  

    @include burger768 {
      display: flex;
    }    
  }
}

.logo {
  width: 100px;
  height: 60px;
  z-index: 10;

  &__img {
    max-width: none;
  }
}

.logo_active-burger {

}

.burger {
  z-index: 10;
  right: 40px;
  top: 30px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid $text-dark;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;

  @include tablet720 {
    right: 16px;
  }
  
  &_active-burger {
    gap: 0;
  }

  &_active-burger &__dash:first-child {    
    transform: translateY(1px) rotate(45deg) ;
    transition: transform 0.3s ease-in-out;
    // animation: burgerAnim 1s ease-in-out;
    
  }
  &_active-burger &__dash:last-child {    
    transform: translateY(-1px) rotate(-45deg);
    transition: transform 0.3s ease-in-out;
    
  }

  &__dash {
    height: 2px;
    width: 16px;
    background-color: $text-dark;
    transform: translateY(0) rotate(0) ;
    transition: transform 0.3s ease-in-out;

    // &:first-child {
    //   background-color: tomato;
    //   transform: translateY(0) rotate(0) ;
    //   transition: transform 1s ease-in-out;      
    // }
    // &:last-child {
    //   transform: translateY(0) rotate(0) ;
    //   transition: transform 1s ease-in-out;
    //   background-color: blue;
    // }
  }
}
