.menu {
  margin-bottom: 100px;

  &__header {    
    margin-bottom: 20px;    
  }

  &__nav-menu>.nav__link {
    cursor: default;    
    
  }

  &__nav-menu:after {
    transform: scale(1);
  }

  &__title {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 38px;
    text-align: center;
  }

  &__btn-wrap {
    display: flex;
    gap: 16px;
    justify-content: center;    
    margin-bottom: 39px;
    
  }

  &__button {    
    &_coffee:before {
      background-image: url("../public/img/coffeeIcon.png");
    }
    &_tea:before {
      background-image: url("../public/img/teaIcon.png");
    }
    &_dessert:before {
      background-image: url("../public/img/dessertIcon.png");
    }

    &_active {
      // background-color: $back-container;
      // color: $text-light;
      // cursor: default;
    }    

    &:hover {
      // background-color: $back-container;
      // color: $text-light;
      // transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__item {

  }
}


