.menu {
  margin-bottom: 100px;

  &__header {    
    margin-bottom: 20px;    
  }

  &__title {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 38px;
    text-align: center;
  }

  &__btn-wrap {
    display: flex;
    gap: 16px;
    justify-content: center;    
    margin-bottom: 39px;
    
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid $border-light;
    padding: 8px 16px 8px 8px;
    font-weight: 600;
    color: $text-dark;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      background-color: $border-light;
      border-radius: 50%;
      background-position: center;
      background-size: 16px;
      background-repeat: no-repeat;
      padding: 7px;      
    }

    &_coffee:before {
      background-image: url("../public/img/coffeeIcon.png");
    }
    &_tea:before {
      background-image: url("../public/img/teaIcon.png");
    }
    &_dessert:before {
      background-image: url("../public/img/dessertIcon.png");
    }

    &_active {
      background-color: $back-container;
      color: $text-light;
    }    

    &:hover {
      background-color: $back-container;
      color: $text-light;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__item {

  }
}


