
.nav {
  width: 70%;
  
  &__list {
    display: flex;
    gap: 40px;
    
  }

  &__item {
  }

  &__item:last-child {
    margin-right: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    // border-bottom: 1px solid red;


    &::after {
      content: '';
      display: block;
      background-image: url('/img/coffee-cup.svg');
      width: 20px;
      height: 20px;      
      background-repeat: no-repeat;
      background-position: center;

    }
  }

  &__link {
  }
}