
.nav {
  width: 65.8%;
  // border: 1px solid red;

  @include tablet1024 {
    width: 100%;    
  }
  
  &__list {
    display: flex;
    gap: 40px;
    font-weight: 600;
  }

  &__item {
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: $text-dark;
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }

    @include hover {
      &:hover::after {
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
      }  
    }    
  }

  &__item:last-child {
    margin-right: 0;
    margin-left: auto;    
    font-weight: 600; 
  }

  &__item:last-child &__link {    
    display: flex;
    gap: 8px;
    
    &:after {
      content: '';
      display: block;
      width: 20px;       
      background-image: url('/img/coffee-cup.svg');      
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.header
.nav_active-burger {
  position: fixed;
  z-index: 5;
  inset: 0;
  // left: 200px;
  padding-top: 168px;  
  background-color: $text-light;
  transform: translateX(0);
  transition: transform 1s ease-in-out;

  & .nav__list {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    font-size: 32px;

    & .nav__item:last-child {
      margin-right: auto;
      margin-left: auto;    
      margin-top: 40px;
    }
  }
}

.nav_active-burger .nav__item:last-child .nav__link{
  &:after {
    height: 40px;
    width: 40px;
    background-size: contain;
  }
}



